.panda-bg-info {
    background-color: rgb(235, 205, 205) !important;
}

.panda-btn-warning {
    background-color: #FF1365;
    color: white;
    font-weight: 600;
}


.coockie {
    background-color: transparent;
    height: 100px;
    width: 100px;
    position: fixed-bottom;


}

.coockie>img {
    height: 100%;
    width: 100%;
}